<a href="https://colab.research.google.com/github/EmmanuelEscobarMendez/python/blob/main/Fundamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fundamentos de programacion - Python

In [ ]:
x = 15
y = 42
z =(x + y)
print('Querido profesor el resultado es: ',z)

Querido profesor el resultado es:  57

Comentarios:

In [ ]:
#Comentarios con una sola linea de código

"""Esto es un comentario
de varias lineas
de codigo para que
no se nos olvide
que estamos haciendo"""

'Esto es un comentario\nde varias lineas\nde codigo para que\nno se nos olvide\nque estamos haciendo'

Palabra reservada print()

In [ ]:
#Imprimir en pantalla

print("Este es nuestro primer programa en")
print('***********PYTHON***************')

Este es nuestro primer programa en
***********PYTHON***************

Tipos de Datos

In [ ]:
x = 15     #Entero = int
y = 42.5     #Flotante = float
a = "El resultado es: " #String = str
z =(x + y)
print(a,z)
print("***************Palabra reservada type()********")

print("tipo de dato x", x, ":", type(x))
print("tipo de dato y", y, ":", type(y))
print("tipo de dato a", a, ":", type(a))
print("tipo de dato z", z, ":", type(z))
print("****************Mas facilito********************")
print(f"Tipo de dato x {x} : {type (x)}")
print(f"Tipo de dato y {y} : {type (y)}")
print(f"Tipo de dato a {a} : {type (a)}")
print(f"Tipo de dato z {z} : {type (z)}")

#Tipo de datos Cadena de caracteres - string
nom_aprendiz = "Emmanuel "
ape_aprendiz = "Escobar "
correo_electronico = "emuel@misena.edu.co"
print(f"El aprendiz se llama {nom_aprendiz}{ape_aprendiz} y su email es {correo_electronico}")

#Tipo de datos Booleanos
estado = True
estado_falso = False
print(f"Tipo de dato estado {estado} : {type (estado)}")
print(f"Tipo de dato estado_falso {estado_falso} : {type (estado_falso)}")

El resultado es:  57.5
***************Palabra reservada type()********
tipo de dato x 15 : <class 'int'>
tipo de dato y 42.5 : <class 'float'>
tipo de dato a El resultado es:  : <class 'str'>
tipo de dato z 57.5 : <class 'float'>
****************Mas facilito********************
Tipo de dato x 15 : <class 'int'>
Tipo de dato y 42.5 : <class 'float'>
Tipo de dato a El resultado es:  : <class 'str'>
Tipo de dato z 57.5 : <class 'float'>
El aprendiz se llama Emmanuel Escobar  y su email es emuel@misena.edu.co
Tipo de dato estado True : <class 'bool'>
Tipo de dato estado_falso False : <class 'bool'>

SueldoOperarioBasico

In [ ]:
# Palabra reservada input()
# int() ó float()cuando capturemos un dato por teclado y que se requiera hacer operaciones aritmeticas

#Entrada de datos
sueldo = float(input("Registre el valor de la hora del operario: "))
horas_trab = int(input("Registre las horas trabajadas: "))

#Operaciones
SueldoMen = (sueldo * horas_trab)

#Sallida
print (f"El valor hora: {sueldo}*{horas_trab} horas trabajadas: {SueldoMen}")

Registre el valor de la hora del operario: 45
Registre las horas trabajadas: 15000
El valor hora: 45.0*15000 horas trabajadas: 675000.0

Ejercicios Prácticos:

Temas: Input(), print(), operaciones, int(), float(), str()

Realizar la carga del lado de un cuadrado, mostrar por pantalla el perímetro del mismo (El perímetro de un cuadrado se calcula multiplicando el valor del lado por cuatro).

In [ ]:
Lado_cuadrado = float(input("Ingrese el valor del lado del cuadrado: "))

per= (4*Lado_cuadrado)
print('el perimetro del cuadrado es: ')
print(per)

Ingrese el valor del lado del cuadrado: 5
el perimetro del cuadrado es:
20.0

Escribir un programa en el cual se ingresen cuatro números, calcular e informar la suma de los dos primeros y el producto del tercero y el cuarto.

In [ ]:

#Entrada de datos
num1=float(input("ingrese el primer valor: "))
num2=float(input("ingrese el segundo valor: "))
num3=float(input("ingrese el tercer valor: "))
num4=float(input("ingrese el cuarto valor: "))

suma = (num1 + num2)
producto = (num3 * num4)
print(f"La suma de {num1} + {num2}es: ",suma)
print(f"El producto de {num3} * {num4}es: ",producto)

ingrese el primer valor: 45
ingrese el segundo valor: 45
ingrese el tercer valor: 45
ingrese el cuarto valor: 45
La suma de los dos primeros valores es:  90.0
El producto de los dos segundos valores es:  2025.0

Realizar la carga de cuatro nombres de personas distintos. Mostrar por pantalla luego ordenados en forma alfabética, descendientes y ascendientes.

In [ ]:
#Ciclo FOR

nombre1 = str(input("ingrese el primer nombre: "))
nombre2 = str(input("ingrese el primer nombre: "))
nombre3 = str(input("ingrese el primer nombre: "))
nombre4 = str(input("ingrese el primer nombre: "))
nombre5 = str(input("ingrese el primer nombre: "))
nombre6 = str(input("ingrese el primer nombre: "))

nombre = [nombre1, nombre2, nombre3, nombre4, nombre5, nombre6]

nom_list = nombre
print('Imprimir los nombres ingresados: ')
for nombre in nom_list:
  print('Desordenados: ',nombre)

nom_list.sort()

print('**********************************')
print('Imprimir los nombres ordenados descendente')
for nombre in nom_list:
  print ('Ordenados: ',nombre)

nom_list.sort(reverse=True)

print('**********************************')
print('Imprimir los nombres ordenados Ascendente')
for nombre in nom_list:
  print ('Ordenados: ',nombre)

  #nom_list.sort(reverse=True)

ingrese el primer nombre: E
ingrese el primer nombre: R
ingrese el primer nombre: T
ingrese el primer nombre: Y
ingrese el primer nombre: U
ingrese el primer nombre: J
Imprimir los nombres ingresados:
Desordenados:  E
Desordenados:  R
Desordenados:  T
Desordenados:  Y
Desordenados:  U
Desordenados:  J
**********************************
Imprimir los nombres ordenados descendente
Ordenados:  E
Ordenados:  J
Ordenados:  R
Ordenados:  T
Ordenados:  U
Ordenados:  Y
**********************************
Imprimir los nombres ordenados Ascendente
Ordenados:  Y
Ordenados:  U
Ordenados:  T
Ordenados:  R
Ordenados:  J
Ordenados:  E

Realizar la carga de dos nombres de personas distintos. Mostrar por pantalla luego ordenados en forma alfabética.

In [3]:
nombre1 = str(input("ingrese el primer nombre: "))
nombre2 = str(input("ingrese el primer nombre: "))

nombres = [nombre1, nombre2]
nombres.sort()
print (nombres)

ingrese el primer nombre: alba
ingrese el primer nombre: pepe
['alba', 'pepe']